.selected-card {
  background: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.selected-detail{
  padding: 20px;
}

.selected-img {
  max-width: 100%;
  border-radius: 4px;
}

.card-thumbnail {
  cursor: pointer;
  transition: transform 0.3s;
}

.card-thumbnail:hover {
  transform: scale(1.1);
}

.card-thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}


.modal {
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 90%;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
}